div#notes {
	width: 660px;
	display: inline-block;
	background-color: grey;
	margin-top: 15px;
	margin-left: 220px;
	z-index: 2;
	opacity: .9;
}

h1 {
	text-align: center;
	color: white;
}

span {
	color: white;
	margin-left: 100px;
	margin-right: 50px;
}

input#image_upload {
	opacity: .4;
	color: white;
}

input#image_upload:hover {
	opacity: 1;
}

button.btn {
	height: 28px;
	width: 100px;
	color: white;
	background-image: url("../../images/login_btn.png");
	background-size: 100px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	margin-left: 20px;
}

div#verify {
	margin-top: 30px;
	margin-left: 220px;
	margin-bottom: 30px;
}

input#delete {
	margin-left: 160px;
}

img {
	margin-left: 30px;
}





/*@media screen and (max-width: 300px) {

}*/