/******************* CSS for the Ganansias Layout *******************************/

div#earning {
	width: 660px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 220px;
	z-index: 2;
	background-color: #5C540E;
	opacity: .9;
}

h1 {
	text-align: center;
	color: white;
}

span {
	color: white;
	margin-left: 180px;
}

.earn {
	width: 140px;
	background-color: #0F1015;
	color: white;
	border-radius: 5px;
	border: 0px;
	outline: 0;
}

input#date_begin {
	margin-left: 48px;
}

input#date_end {
	margin-left: 30px;
}

button.btn {
	height: 28px;
	width: 100px;
	color: white;
	background-image: url("../../images/login_btn.png");
	background-size: 100px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	margin-left: 25px;
}

button#submit {
	margin-left: 220px;
}

div#verify_earning {
	color: white;
	margin-left: 224px;
	margin-top: 20px;
}

table#earning {
	color: white;
	margin-top: 40px;
	margin-left: 10px;
}

h3#date {
	border: 1px solid white;
}

td.header {
	font-weight: 900;
	font-size: 1.3em;
	padding-right: 20px;
	padding-left: 30px;
}

td#left {
	border: 1px solid white;
}

td {
	text-align: center;
}

footer {
	height: 20px;
	width: 100%;
	margin-top: 830px;
	position: absolute;
}