/*************** CSS for the Home Page ***********************************************************/

div#home_img {
	height: 350px;
	width: 660px;
	display: inline-block;
	background-image: url("../../images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 15px;
	margin-left: 220px;
	z-index: 2;
}