/**************** CSS for the Header of All the Pages ***************************************************/

div#header {
	width: 70%;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	position: absolute;
}

div#logo_name {
	color: white;
	margin-left: 380px;
	margin-top: 40px;
	position: absolute;
}

a#logout {
	height: 50px;
	width: 50px;
	margin-top: 50px;
	margin-left: 800px;
	position: absolute;
}

img#logoff {
	height: 50px;
	width: 50px;
}

