/************ CSS for the Inventory Table Display ********************************************/

div#inventory_display {
	width: 600px;
	background-color: #141A1A;
	margin-left: 450px;
	margin-top: 140px;
	margin-bottom: 30px;
	position: absolute;
	opacity: 0.9;
	z-index: 4;
}

div#btn_inventory {
	height: 18px;
	width: 80px;
	text-align: center;
	background-color: #593535;
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	margin-left: 40%;
}

div#btn_inventory:hover {
	background-color: #814C4C;
	cursor: pointer;
}

h4 {
	padding: 0;
}

table#inventory_tble {
	width: 238px;
	color: white;
	border: 1px solid white;
}

tr#title {
	border-bottom: 1px solid white;
}

th#title {
	padding-left: 36%;
	padding-right: 30%;
	padding-bottom: 10px;
	font-size: 1.9em;
}

th.header {
	font-size: 1.6em;
	padding-right: 30px;
	padding-left: 20px;
}

td.inventory {
	text-align: center;
	border: 1px solid white;
	padding-right: 30px;
	padding-left: 25px;
}

